
html, body, #map_canvas { 
    height:100%;
    width:100%;
    padding:0px;
    margin:0px;
    font-family: Verdana;
}

.navbar{
    background-color: #222222;
    color:#ffffff;
}

.nav.navbar-nav.navbar-right li a{
    color:#EEEEEE;
}

.nav.navbar-nav.navbar-right li:hover{
    background-color: #ED3D23;
}

.navbar-brand img{
    position: relative;
    bottom:10px;
}

.livefeed-panel{
    display: none ;
}

#show-livefeed{
    text-decoration: none;
    color: #ED3D23;
}

#show-livefeed:hover{
    color: #222222;
}

#show-livefeed.pressed{
    color: #222222;
}

.livefeed-widget{
    position:fixed;
    width:18%;
    min-width: 180px;
    right: 20px;
    top:60px;
    z-index: 1000;
}

.livefeed-panel .panel-body{
    padding: 0px;
    margin: 0px;
    padding-bottom: 5px;
    background-color: #222222;
}

.livefeed-panel  .nav-tabs a{
    color:#FFFFFF;
}

.panel-heading{
    background-color: #ED3D23 !important;
    color:#FFFFFF !important;
}

.livefeed-panel .list-group-item:first-child {
    border-top: none;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.livefeed-panel .list-group-item:last-child {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    
}

.livefeed-panel  .nav-tabs{
    margin-left: 5px;
    margin-right: 5px;
}

.livefeed-panel  .list-group{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10pt;
}

@media screen and (max-width: 40.5em) {
    .livefeed-widget{
        position:fixed;
        width:90%;
        min-width: 150px;
        right: 20px;
        top:60px;
        z-index: 1000;
    }
}


@media screen and (max-width: 295px){
    #replies_modal .modal-body .panel-heading .det:first-child,
    #replies_modal .modal-body .panel-heading .det:last-child div:first-child{
        font-size:8px;
    }
    #replies_modal .panel-heading .rayzmsg,
    #replies_modal .panel-heading div.det:last-child i,
    #replies_modal .panel-heading div.det:last-child div:last-child span
    {
        font-size:12px;
    }
}

#replies_modal .list-group .list-group-item .time,
#replies_modal .list-group .list-group-item .reply-power,
#replies_modal #char_len,
#replies_modal span.time,
.starred, .rerayz,
i.fa-arrow-circle-down span,i.fa-arrow-circle-up span,
ul[name="livefeed-list"] p.time,
ul[name="recentfeed-list"] p.time,
#star-rayz-modal #star-rayz-list p.time,.time_map{
    color:#808080;
    font-size:smaller;
}

#replies_modal .list-group .list-group-item .fa-arrow-circle-down{
    color:red;
}

#replies_modal .list-group .list-group-item .fa-arrow-circle-up{
    color:green;
}

#replies_modal .list-group .list-group-item span {
    color:#808080;
}

#replies_modal .list-group .list-group-item .power-down,
#replies_modal .list-group .list-group-item .power-up{
    text-decoration: none;
}

.replies-list{
    margin:0px;
}

button,.toggle-on,.input-file,.btn-file,#star-rayz-page-number div{
    background-color: #ED3D23 !important;
    color:#FFFFFF !important;
}

.close{
    background-color: #FFFFFF !important;
    color: #ED3D23 !important;
    font-size: 30pt;
}

#settings-modal td a{
    text-decoration: none;
    color: #333333;
}

#settings-modal .question,#settings-modal a:hover {
    color: #ED3D20;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.reply-btns{
    display: inline-block;
}

.space{
    padding:2.5px;
}

.hidden{
    display: none;
}
#replies_modal .modal-body .panel-body p:first-child{
    font-size:large;
    color: #434d4c;
}
#replies_modal .modal-body .panel-body p:nth-child(2){
    font-size:larger;
    color: #434d4c;
}
#replies_modal .modal-body .panel-heading span.time,
ul[name="livefeed-list"] .fa-star-o,
ul[name="livefeed-list"] .fa-refresh,
ul[name="recentfeed-list"] .fa-star-o,
ul[name="recentfeed-list"] .fa-refresh,
#star-rayz-modal #star-rayz-list .fa-star-o,
#star-rayz-modal #star-rayz-list .fa-refresh,
.reply{
     color:#374140;
 }
#replies_modal .det{
    font-size:smaller;
    color:#374140;
}
#replies_modal .panel-heading .rayzmsg,
#replies_modal .panel-heading div.det:last-child i,
#replies_modal .panel-heading div.det:last-child div:last-child span
{
color:white;
    font-size:14px;
}
#replies_modal .panel-heading div.det:last-child{
    border-top:solid 2px #2A2C2B;
    padding-top:2px;
}

.power-wrapper,
.restar-wrapper{
    border-top:solid 1px grey;
}
.list-group{
    background-color:#ED3D23;
}
.list-group-item{
    margin:2% 1% 2% 1%;
    border-bottom:solid 1px black;
}

@media screen and (max-width: 40.5em) {
    .livefeed-widget{
        position:fixed;
        width:100%;
        min-width: 0px;
        right: 0px;
        top:50px;
        z-index: 1000;
    }
    
    #map_canvas{
        display: none;
    }
    
    #show-livefeed{
        display: none
    }
    
    .livefeed-panel{
        display: block;
    }
}